html {
  padding: 0;
  margin: 0;
  background-image: url("./images/camp.jpg"); /* TODO: change background image to trees */
  background-size: cover;
}
a {
  text-decoration: none;
}
.park { 
  color: bisque;
}
a:hover {
  color: lightblue;
}
.park:hover {
  color: lightblue;
}
img {
  width: 100%;
}
h1 {
  color: bisque
}
label {
  font-family: "arial";
  margin-bottom: 10px;
  padding-left: 15px;
}
input {
  margin-left: 5px;
}