html {
  padding: 0;
  margin: 0;
  background-image: url("./images/ringOfTrees.jpg");
  background-size: cover;
}
a {
  text-decoration: none;
}
#park { 
  color: #FFAC47;
}
a:hover {
  color: #2CB52C;
}
#park:hover, #parkTitle:hover {
  color: pink;
}
img {
  width: 100%;
}
h1, #parkTitle {
  color: #CE853B;
} /* TODO: fix styling */
label {
  font-family: "arial";
  margin-bottom: 10px;
  padding-left: 15px;
}
input {
  margin-left: 5px;
}