html {
  padding: 0;
  margin: 0;
  background-image: url("./images/ringOfTrees.jpg");
  background-size: cover;
}
a {
  text-decoration: none;
}
.park { 
  color: bisque;
}
a:hover {
  color: lightblue;
}
.park:hover {
  color: lightblue;
}
img {
  width: 100%;
}
h1 {
  color: #CE853B;
} /* TODO: fix styling */
label {
  font-family: "arial";
  margin-bottom: 10px;
  padding-left: 15px;
}
input {
  margin-left: 5px;
}